<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <div><h4>Books</h4></div>
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3" *ngFor="let i of books">
                    
                    <div class="card"  >
                        <img height="250px" src="{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">{{i.price}}</p>
                          <a href="#" class="btn btn-primary">{{i.buy}}</a>
                        </div>
                      </div>

                </div>
                

                
            </div>

                    


                </div>
                
            </div>
            
        </div>
    
  
