<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table">
                <thead>
                  <tr>
                    
                   <!-- <th scope="col">Id</th>-->
                    <th scope="col">Book Title </th>
                    <th scope="col">Image</th>
                    <th scope="col">Author</th>
                    <th scope="col">Language</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of data">
                    <!--<th scope="row">{{i._id}}</th>-->
                    <td>{{i.title}}</td>
                    <td>{{i.image}}</td>
                    <td>{{i.author}}</td>
                    <td>{{i.language}}</td>
                    <td>{{i.price}}</td>
                   
                    
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
